
.GameList{
    min-height: 500px;
    margin: 0 auto;
    width: 500px;
}
.DescContainer{
    max-width: 800px;
    margin: 0 auto;
}
.Desc{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}
.pracDesc{
    text-align: left;
    margin:0 0 0 40px;
    font-weight: 700;
    font-size: 24px;
    border-bottom: 2px solid black;
}
.game:hover, .practiceGames:hover{
    cursor: pointer;  
}

.coinGrab{
    background-image:url("../assets/coingrab.gif");
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;  
}

.ballBounce{
    background-image:url("../assets/ballbounce.gif");
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;  
}

.dodgeRain{
    background-image:url("../assets/rain.gif");
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;  
} 
.game:active, .practiceGames:active{
    transition: .4s;
    font: black;
    background-color:rgb(238, 238, 238);
}
.comingSoon{
    opacity: .5;
    text-align: center;
    
}


.practiceGames{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin: 40px;
    height: 110px;
    width: 150px; 
    border: 2px solid black;
   
}
.game{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin: 40px;
    height: 260px;
    width: 260px; 
    border: 2px solid black;
    position: relative;
}
/* .coinGrab {
    margin-left: 13%;
} */

.game{
    background-image:url("../assets/ezgif.gif");
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;  
} 
.game>p{
    
    letter-spacing: 1.5px;
    margin: 0;
}

.mainGameContainer>p{
    padding:0;
    margin: 0;
}


@media only screen and (min-width: 475px) {
    .practiceGames, .comingSoon{
        display: inline-block;
        
    }
    .game{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: black;
        margin: 40px auto;
        height: 220px;
        width: 320px; 
        border: 2px solid black;
        position: relative;
    }
    .mainGame{
        width: 150px;
    }
    .coinGrab, .dodgeRain{
        margin-left: 13%;
    }
    .pracDesc{
        text-align: center;
        font-style: none;
        font: black;
        margin:0 0 0 40px;
        font-weight: 700;
        font-size: 24px;
        border-bottom: 2px solid black;
    }
}

@media only screen and (min-width: 1090px){
    .GameList{
        width: 700px;
    }
    .coinGrab, .dodgeRain{
        margin-left: 20%;
    }
    .game{
        height: 280px;
        width: 400px; 
    }
    .practiceGames{
        height: 120px;
        width: 200px; 
    }

    
}

@media only screen and (min-width: 1150px){
    .GameList{
        width: 800px;
    }
}