.leaderBoard{
    text-align: center;
    font-size: 25px;
    color: black;
    padding-bottom: 16px;
    border-bottom: 2px solid black;

}
.leaderBoardScore{
    text-align: center;
    font-weight: 700;
}