.col{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    
}

.left{
    display: none;
    width: 150px;
    border: 1px solid black;

}
.right, .c{
    width: 98%;
    height: 300px;
    margin: 0 auto;
}
.right{
    position: relative;
}
.c{
    border: 3px solid black;   
}
@media only screen and (min-width: 450px) {
    .rigth, .c{
        width: 98%;
    }
}

@media only screen and (min-width: 500px) {
    .right, .c{
        max-width: 550px;
        
        height:450px;
    }

}

@media only screen and (min-width: 1000px) {
    .left {
        position: absolute;
        left: 20px;
        display: block;
    }
    .right, .c{
        max-width: 650px;
        width: 650px;
        height: 450px;
    }
    .col{
        flex-direction: column;
    }

}
